<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ProcrastinHaterEntities" connectionString="metadata=res://*/ProcrastinHaterModel.csdl|res://*/ProcrastinHaterModel.ssdl|res://*/ProcrastinHaterModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\ProcrastinHater.Data.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ProcrastinHaterEntities" connectionString="metadata=res://*/ProcrastinHaterModel.csdl|res://*/ProcrastinHaterModel.ssdl|res://*/ProcrastinHaterModel.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=C:\ProcrastinHater.Data.sdf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>